<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuxs.movie.dao.MovieTagDao"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
	<!-- 启用Redis缓存时去除下方注释 -->
	<!-- <cache eviction="LRU" type="com.qiuxs.tech.mybatis.cache.MybatisRedisCache" readOnly="true" /> -->
    <sql id="allFields">
		`id`,
		`name`,
		`code`,
		`flag`,
		`created_by` as createdBy,
		`created_date` as createdDate,
		`updated_by` as updatedBy,
		`updated_date` as updatedDate
    </sql>
    
	<sql id="insertFields">
		`id`,
		`name`,
		`code`,
		`flag`,
		`created_by`,
		`created_date`,
		`updated_by`,
		`updated_date`
    </sql>
	
	<insert id="create" parameterType="com.qiuxs.movie.entity.MovieTag">
		insert into movie_tag (<include refid="insertFields"/>)
		values (
			#{id},
			#{name},
			#{code},
			#{flag},
			#{createdBy},
			#{createdDate},
			#{updatedBy},
			#{updatedDate}
		)
	</insert>
	
	<insert id="createInBatch" parameterType="com.qiuxs.movie.entity.MovieTag">
		insert into movie_tag (<include refid="insertFields"/>) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.name},
				#{item.code},
				#{item.flag},
				#{item.createdBy},
				#{item.createdDate},
				#{item.updatedBy},
				#{item.updatedDate}
			)
		</foreach>
	</insert>   		
	
    <sql id="whereClause">
		<if test='name != null and name != ""'>
			and `name` = #{name}			
		</if>
		<if test='code != null and code != ""'>
			and `code` = #{code}			
		</if>
		<if test="flag != null">
			and `flag` = #{flag}			
		</if>
		<if test="flagGte != null">
			and `flag` &gt;= #{flagGte}
		</if>
		<if test="flagGt != null">
			and `flag` &gt; #{flagGt}
		</if>
		<if test="flagLte != null">
			and `flag` &lt;= #{flagLte}
		</if>
		<if test="flagLt != null">
			and `flag` &lt; #{flagLt}
		</if>
		<if test="createdBy != null">
			and `created_by` = #{createdBy}			
		</if>
		<if test="createdDate != null">
			and `created_date` &gt;= #{createdDate}
			<!--and `created_date` &lt;= #{createdDate_fan1} -->
		</if>
		<if test="updatedBy != null">
			and `updated_by` = #{updatedBy}			
		</if>
		<if test="updatedDate != null">
			and `updated_date` = #{updatedDate}			
		</if>
	</sql>
	
	<sql id="bizKeysWhereClause">
		<if test='code != null and code != ""'>
			code = #{code}
		</if>
	</sql>
    
	<select id="get" resultType="com.qiuxs.movie.entity.MovieTag" parameterType="Long" >
		select <include refid="allFields"/> 
		  from movie_tag 
		 where id = #{id} 
	</select>
	
	<select id="getByIds" parameterType="List" resultType="com.qiuxs.movie.entity.MovieTag">
		select <include refid="allFields"/> from movie_tag 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="findCaptionPairsByIds" parameterType="List" resultType="com.qiuxs.fdn.bean.Pair">
		select id as v1, `name` as v2 from movie_tag  
		where id in
		<foreach collection="collection" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
        
    <select id="searchOptions" parameterType="List" resultType="com.qiuxs.frm.code.bean.CodeItem">
		select id as code, `name` as value from movie_tag 
		<where>
			<if test="searchToken != null">
				(`name` like CONCAT(CONCAT('%', #{searchToken}),'%'))
			</if>
		</where>
		limit 100
	</select>
	
	<select id="getByBizKeys" resultType="com.qiuxs.movie.entity.MovieTag" parameterType="Map" >
		select <include refid="allFields"/> 
		  from movie_tag 
		 <where>
		    <include refid="bizKeysWhereClause"/>
		</where>
	</select>
		
	<select id="getAll" resultType="com.qiuxs.movie.entity.MovieTag">
		select <include refid="allFields"/> 
		from movie_tag 
	</select>

	<select id="count" resultType="long">
		select count(*) from movie_tag 
	</select>
	
	<select id="getCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from movie_tag 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="findByWhere" parameterType="Map" resultType="com.qiuxs.movie.entity.MovieTag">
		select <include refid="allFields"/>
		from movie_tag 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderBy != null">
			ORDER BY ${orderBy}
			<if test="orderByDesc != null and orderByDesc == 'true'">
				desc
			</if>
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="name != null">
			`name` = #{name},
		</if>
		<if test="code != null">
			`code` = #{code},
		</if>
		<if test="flag != null">
			`flag` = #{flag},
		</if>
		<if test="createdBy != null">
			`created_by` = #{createdBy},
		</if>
		<if test="createdDate != null">
			`created_date` = #{createdDate},
		</if>
		<if test="updatedBy != null">
			`updated_by` = #{updatedBy},
		</if>
		<if test="updatedDate != null">
			`updated_date` = #{updatedDate}
		</if>
	</sql>
	
	<update id="update" parameterType="com.qiuxs.movie.entity.MovieTag">
		 update movie_tag 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update movie_tag 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByBizKeys" parameterType="com.qiuxs.movie.entity.MovieTag">
		 update movie_tag 
		    <set>
		    	<include refid="setComn"/>
			</set>
		 <where>
		    <include refid="bizKeysWhereClause"/>
		</where>
	</update>		
	
	<delete id="delete">
		delete from movie_tag where id = #{id}
	</delete>
	
	<delete id="multiDelete" parameterType="List">
		delete from movie_tag
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from movie_tag 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	
	
	<delete id="deleteByBizKeys" parameterType="Map">
		delete from movie_tag 
		<where>
		    <include refid="bizKeysWhereClause"/>
		</where>
	</delete>		
</mapper>    
